$color-white: #FFFFFF;
$color-light-gray: #E5E5E5;
$color-gray: #999999;
$color-dark-gray: #333333;
$color-red: #F38181;
$color-yellow: #FCE38A;
$color-light-green: #EAFFD0;
$color-turquoise: #95E1D3;